<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>CriarPerfisXMLServlet</display-name>
		<servlet-name>CriarPerfisXMLServlet</servlet-name>
		<servlet-class>util.CriarPerfisXMLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CriarPerfisXMLServlet</servlet-name>
		<url-pattern>/CriarPerfisXMLServlet</url-pattern>
	</servlet-mapping>
	<display-name>TP2_43498_45977_47739</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>t</display-name>
		<servlet-name>t</servlet-name>
		<servlet-class>util.t</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>t</servlet-name>
		<url-pattern>/t</url-pattern>
	</servlet-mapping>
</web-app>